body{
    background-color: #cccccc;
    background-image:url("smokebackground.jpg")
}

.fader{
    opacity:.5;
}

body{
    background-color:darkgrey;
}

#gameplay{
    text-align: center;
    margin-top: 50px;
}

#characters{
    margin-top:50px;
}

#button{
    
}

#enemyhp,#herohp,#fighttext{
    color:white;
    font-size:30px;
}

#selecthero,#selectenemy{
    color:white;
    font-size:14px;
    font-style: italic;
}